* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
	height: 100vh;
	background-color: hsl(0, 0%, 98%);
    font-family: 'Poppins', sans-serif;
}

.headline {
    font-size: 32px;
    font-weight: 200;
    
}

.description {
    text-align: center;
    width: 30rem;
    font-size: 15px;
    font-weight: 200;
    color: hsl(229, 6%, 66%);
}


.cards {
    width: 80rem;
    height: 40rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    
}
.card {
    display: flex;
    flex-direction: column;
    width: 19rem;
    height: 15rem;
    padding: 1.8rem;
    overflow: hidden;
    background-color: white;
    border-radius: 0.4rem;
    box-shadow: 8px 8px 24px -20px rgba(66, 68, 90, 1);
}


.card-red, .card-green, .card-blue, .card-yellow {
    position: relative;
}

.card-red::before, .card-green::before, .card-blue::before, .card-yellow::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    width: 100%;
}

.card-red::before {
    background-color: hsl(0, 78%, 62%);
}
.card-green::before {
    background-color: hsl(180, 62%, 55%);
}
.card-yellow::before {
    background-color: hsl(34, 97%, 64%);
}
.card-blue::before {
    background-color: hsl(212, 86%, 64%);
}

.card-headline {
    font-size: 1.1rem;
    font-weight: 600;
}

.card-description {
    font-size: 12px;
    font-weight: 200;
}

.card-red .card-img, .card-yellow .card-img, .card-green .card-img, .card-blue .card-img {
    width: 3.7rem;
    height: 3.7rem;
    margin-left: auto;
    margin-top: auto;
    background-image: url(./images/icon-team-builder.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}